<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/css/signup.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<body> 
    

    </div>
    <img src="/images/11.png" height="150px" style="        position: absolute;
    top: 205px;
    right: 209px;">
                    <img src="/images/13.png" height="150px" style=" position: absolute;
                    left: 173px;
                    bottom: 188px;
                ">
                    <img src="/images/17.png" height="150px" style="position: absolute;
                    bottom: 0px;
                    right: 0px;
                    opacity: 15%;"> 
                    <img src="/images/16.svg" height="98px" style="position: absolute;
                    top: 4px;
                    left: 0px;
                    opacity: 15%;"> 
                   
     <section>
     <div class="contentBx">
     <div class="formBx">
     <h2>Create An Account</h2>
     <form action="/register" method="POST">
        <div class="inputBx">
        <span>Name:</span><input type="text" name="name" required/>
    </div>
        <div class="inputBx">
            <span>Email:</span><input type="email" name="email" required/>
            </div>
            <div class="inputBx">
                <span>Username:</span><input type="text" name="uname" required/>
        </div>
        <div class="inputBx">
            <span>Password:</span> <input  type="password" name="password" placeholder="password..(At least 6 character)"/>
    </div>
        <div class="inputBx">
            <span>Confirm Password:</span> <input type="password" name="password2" placeholder="Re-enter password" />
    </div>
    
        <div class="inputBx">
        <button type="submit">Create Account</button>
    </div>
    <div class="inputBx">
        <p>Already have an account?<a href="/"> Sign In</a></p>
        </div>

        <h4 style="position: absolute;  top: 35px; right: -20%; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" ><span class="material-symbols-outlined">
            communication
           
           </span> Ping Me ! <span class="material-symbols-outlined">
         
              chat_bubble
             
            </span> </h4>
           
    </div>
     </form>
     </div>
     </section>
     <!-- <div class="imgBx">

        <section>
            <div class="contentBx">
                <div class="formBx">
                <div class="inputBx">

            <span>Gender:</span><input type="text" name="gender" />
    </div>
        <div class="inputBx">
            <span>DOB:</span><input type="text" name="dob" />
    </div>
        <div class="inputBx">
            <span>About:</span><input type="text" name="about" />
    </div>
        <div class="inputBx">
            <span>Profile Pic:</span><input type="text" name="ppic" />
    </div>
</div>
</div>
        </section>
     </div> -->
     
</body>
</html>