@import url('https://fonts.googleapis.com/css?ffamily=Poppins:200,300,400,500,600,700,800,900&display=swap');

*
{
    margin:0;
    padding: 0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}



.back{
  background-image: url(/images/511.jpeg);
}




section{
    position:relative;
    width:100%;
    height:100vh;
    display:flex;
}
section .imgBx
{
    /* position:relative; */
    width: 50%;
    height: 100;
    background-image: url(/images/3.jpeg);
    background-size: 100% 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    animation: changeImage 30s  infinite  ease-in;
    

}
/* section .imgBx::before
{
    content: '';
    position: absolute; 
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background: linear-gradient(255deg,#e91e63,#03a9f4);
    z-index:1;
    mix-blend-mode: screen;
     
} */
/* section .imgBx img{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */


section .contentBx
{
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    position: absolute;
    right: 12%;

}

section .contentBx .formBx
{
    width: 50%;

}
section .contentBx .formBx h2{
    color: #607d8b;
    font-weight: 600;
    font-size:1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #ff4584;
    display: inline-block;
    letter-spacing: 1px;

} 
section .contentBx .formBx h4{
    color: #d42aacaf;
    font-weight: 600;
    font-size:1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    display: inline-block;
    letter-spacing: 1px;
    border-bottom: 2px lavender;
    

} 
section .contentBx .formBx h3{
    color: #eda8ddf8;
    font-weight: 600;
    font-size:1.3em;
    text-transform: uppercase;
    margin-bottom: 20px;
    display: inline-block;
    letter-spacing: 1px;
    opacity: 75%;

} 

section .contentBx  .formBx .inputBx 
{
    margin-bottom: 20px;
}

section .contentBx  .formBx .inputBx  span
{   
    font-size:16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #607d8b;
    font-weight: 300;
    font-size:16px;
    letter-spacing: 1px;
} 

section .contentBx  .formBx .inputBx  input
{
    width: 100%;
    padding:10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #607d8b;
    font-size: 16px;
    letter-spacing: 1px;
    color: #607d8b;
    background: transparent;
    border-radius: 30px;

}
section .contentBx  .formBx .inputBx  button
{
    width: 100%;
    padding:10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #607d8b;
    font-size: 16px;
    letter-spacing: 1px;
    color: #607d8b;
    background: transparent;
    border-radius: 30px;

}
section .contentBx  .formBx .inputBx  button[type ="submit"]
{
  background: #ff4584;
  color: #fff;
  outline: none;
  font-weight: 500;
  cursor: pointer;
}

section .contentBx .formBx .inputBx button[type = "submit"]:hover
{
 background: #f53677;

}

section .contentBx  .formBx .inputBx p{
    color: #607d8b;
}

section .contentBx  .formBx .inputBx p a{
    color: #ff4584;
}



@keyframes changeImage{
    
    0%
    {
     background-image:  url(/images/3.jpeg);
    }
    25%
    {
     background-image:  url(/images/22.jpeg);
    }
    50%
    {
     background-image: url(/images/6.png);
    }
    75%
    {
     background-image: url(/images/4.jpeg);
    }
    100%
    {
     background-image: url(/images/10.jpeg);
    }
}

@media (max-width: 768px)  {
      section .imgBx
      {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;

      }

      section .contentBx {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 1;
      }

      section .contentBx .formBx{
        width: 100%;
        padding: 40px;
        background: rgb(255 255 255 / 0.9);
        margin: 50px;
      }
}


